name: Koog tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  JAVA_VERSION: 21
  JAVA_DISTRIBUTION: 'zulu'

jobs:

  KoogTests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ollama-model-id: [ "granite3.2-visio", "qwen3-vl:4b" ]
    steps:

      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew :shared:sharedKoog:jvmTest -DLLM_TYPE=${{ matrix.ollama-model-id }} --stacktrace

      - name: Sanitize ollama-model-id
        if: always()
        run: echo "SANITIZED_OLLAMA_MODEL_ID=$(echo '${{ matrix.ollama-model-id }}' | tr ',:/' '-')" >> $GITHUB_ENV

      - name: Collect reports
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: reports-${{ env.SANITIZED_OLLAMA_MODEL_ID }}
          path: |
            **/build/reports/
          retention-days: 7
